body{
blackground-color:(pink);
color:(blue);
font-family:('Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin:0px);
}
h1{
color:(red)
font-size:40px;
}
p{
    font-size:25px;
    }
    header{